@model Deal_Evaluator.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center vh-75">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h2 class="text-center mb-4">Login</h2>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Email" required="required" type="email" class="form-control" id="floatingInput" placeholder="name@example.com"/>
                <label for="floatingInput">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" type="password" required="required" class="form-control" id="floatingPassword" placeholder="Password"/>
                <label for="floatingPassword">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="rememberMe" />
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>